{%- set network = footer.getNetwork()  -%}
<div class="br-box-subtle text-base programmes-page programmes-page--flush" id="programmes-footer"><div class="footer-wrapper br-keyline">
    <div class="footer g-f-l">
        <h2 class="visually-hidden">{{ tr('related_content') }}</h2>
        <div class="grid-wrapper grid-wrapper--flush">
            <div class="grid grid--flush 1/2@bpw 5/12@bpw2 5/12@bpe"><div class="b-g-p">
            {%- if footer.getGenres() or footer.getFormats() -%}
                <div class="footer__similar b-g-p component">
                    <h3 class="beta">{{ tr('similar_programmes') }}</h3>
                    {%- if footer.getGenres() -%}
                    <div>
                        <h4 class="inline micro">{{ tr('by_genre') }}:</h4>
                        <ul class="list-unstyled micro">
                            {%- for genreTree in footer.getGenres() -%}
                                <li>
                                    {%- for genre in genreTree.getAncestry() -%}
                                        {%- if not loop.first -%}&#32;&#62;&#32;{%- endif -%}
                                        <a href="{{ path('category_metadata', {
                                            'categoryType': 'genres',
                                            'categoryHierarchy': genre.getUrlKeyHierarchy()
                                        }) }}">{{ genre.getTitle() }}</a>
                                    {%- endfor -%}
                                </li>
                            {%- endfor -%}
                        </ul>
                    </div>
                    {%- endif -%}
                    {%- if footer.getFormats() -%}
                    <div>
                        <h4 class="inline micro">{{ tr('by_format') }}:</h4>
                        <ul class="list-unstyled micro">
                            {%- for format in footer.getFormats() -%}
                                <li>
                                    <a href="{{ path( 'category_metadata', {
                                        'categoryType': 'formats',
                                        'categoryHierarchy': format.getUrlKey()
                                    }) }}">{{ format.getTitle() }}</a>
                                </li>
                            {%- endfor -%}
                        </ul>
                    </div>
                    {%- endif -%}
                </div>
            {%- endif -%}
            </div></div>
            <div class="grid grid--flush 1/2@bpw 1/4@bpw2 1/4@bpe">
                {# 7194 #}
            </div>
            {%- if network -%}
                {%- set network_logo = get_network_logo(footer.getNid(), '112x63') -%}
                {%- set network_href = network_link(network) -%}
                {%- set network_name = network.getName() -%}
                {%- set has_homepage = network_href and not network.isRadio()  -%}

                <div class="grid grid--flush 1/2 1/6@bpw2 1/6@bpe footer__service centi">
                    <div class="footer__service-island br-service-brand-box fauxcolumn">
                        {%- if has_homepage -%}
                        <a class="islet--vertical footer__service__logo text--center@bpw" href="{{ network_href }}">
                            <img class="service-logo" alt="{{ tr('programme_homepage', { '%1': network_name }) }}" src="{{ network_logo }}">
                        </a>
                        {%- else -%}
                            <img class="service-logo" alt="{{ tr('programme_homepage', { '%1': network_name }) }}" src="{{ network_logo }}">
                        {%- endif -%}

                        {% if footer.getNetworkUrlKey() %}
                        <div class="footer__watch-live">
                            <div class="lazy-module" data-lazyload-inc="{{
                                path('schedules_on_now', {
                                    'networkUrlKey': footer.getNetworkUrlKey(),
                                    'partial': '2013'
                                }) }}" data-lazyload-threshold="768" data-lazyload-delay="true">
                            </div>
                        </div>
                        {%- endif -%}
                    </div></div>

                {%- set nav_links = footer.getNavigationLinks()  -%}
                <div class="grid grid--flush 1/2 1/6@bpw2 1/6@bpe footer__service-nav centi"><div class="footer__service__nav">
                    {%- if has_homepage or nav_links -%}
                        <div class="br-service-brand-box--alt fauxcolumn">
                            <ul class="footer__service__nav__list list-unstyled footer__service-island">
                                {%- if has_homepage -%}
                                    <li class="footer__service__navitem">
                                        <a href="{{ network_href }}"
                                            title="{{ tr('programme_homepage', { '%1': network_name }) }}">
                                            {{ tr('home') }}
                                        </a>
                                    </li>
                                {%- endif -%}

                                {%- for link in nav_links -%}
                                    <li class="footer__service__navitem">
                                        <a class="br-text" href="{{ link['url'] }}">{{ link['title'] }}</a>
                                    </li>
                                {%- endfor -%}
                            </ul>
                        </div>
                    {%- endif -%}
                </div></div>
            {%- endif -%}
        </div>
    </div>
</div></div>
