<div class="media__meta-group">
    <div class="broadcast-details programme__broadcast-date gel-minion"
        data-timezone="true"
        content="{{ details.getDateTimestamp() }}" >
        {# Broadcast date #}
        <span class="timezone timezone--date">
            {{- details.getDay() -}}
        </span>
        <span class="timezone timezone--time">
            {{- details.getTime()|local_date('H:i') -}}&nbsp;{{- details.getTime()|time_zone_note() -}}
        </span>

        {# Service details #}
        <div class="broadcast-details__service">
            {%- for breakdown in details.getNetworksAndServicesDetails() -%}
                {%- set network_name = breakdown.getNetworkName() -%}
                {%- set net = breakdown.getNetwork() -%}
                {%- set has_homepage = net and network_link(net) and not net.isRadio() -%}
                {% if not loop.first and not loop.last %},&#32;{%- endif -%}
                {% if loop.last and loop.length > 1 %}&#32;&amp;&#32;{%- endif -%}

                {%- if has_homepage -%}
                <a href="{{ network_link(net) }}" class="gel-minion-bold">{{ network_name }}</a>
                {%- else -%}
                <span class="gel-minion-bold">{{ network_name }}</span>
                {%- endif -%}

                {%- if breakdown.getServicesNames() -%}
                    {# The space before the services names below is necessary #}
                    <span> {{ breakdown.getServicesNames() }}</span>
                {%- endif -%}
            {%- endfor-%}
        </div>
    </div>
</div>



